    <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0">
      ...
      <proxies>
        <proxy>
          <id>myproxy</id>
          <active>true</active>
          <protocol>http</protocol>
          <host>proxy.somewhere.com</host>
          <port>8080</port>
          <username>proxyuser</username>
          <password>somepassword</password>
          <nonProxyHosts>*.google.com|ibiblio.org</nonProxyHosts>
        </proxy>
      </proxies>
      ...
    </settings>
	
<!-- Este arquivo contém a configuração para usar um proxy -->
<!--
    id: O identificador único para este proxy.
    active: Verdadeiro se este proxy estiver ativo.
    protocol, host, port: O protocolo://host:porta do proxy.
    username, password: Credenciais do proxy.
    nonProxyHosts: Esta é uma lista de hosts que não devem ser acessados através de proxy.
-->